
// usage:
//   @media #{$phone} { css; }

$phone: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1024px)";
$desktop: "(min-width: 1025px)";

$tablet-and-larger: "(min-width: 768px)";
$tablet-and-smaller: "(max-width: 1024px)";
