
$page-bg: #f5f5f5;
$page-color: #212121;

$btn-default-bg: #A5D6A7;
$btn-default-color: #212121;
$btn-shadow: #757575;
$btn-hover-color: #C8E6C9;

$btn-episode-bg: #4CAF50;
$btn-episode-color: #f5f5f5;
$btn-episode-hover: #388E3C;

$font-families: Assistant, sans-serif;
$font-size: 13pt;
$headings-font-families: "Assistant", sans-serif;

$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
